# Capas del pipeline (nunca subir)
layers/

# Bloquea todo en data/ EXCEPTO el Excel del modelo
data/*
!data/Clasificacion_RCV_Completo.xlsx

# Entornos virtuales
venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
*.ipynbkpoints/
*.ipynb
