# Datos sensibles (nunca subir)
data/
layers/

# Entornos virtuales
venv/
env/
.env

# Permite solo este Excel específico
data/*
!data/Clasificacion_RCV_Completo.xlsx

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
*.ipynb
